  .body{
    background-color: blue;
  }

.image{
  background-image: url('foto.jpg');
  width: 289px;
  height: 388px;
  display: block;
margin-left: auto;
margin-right: auto;

}
.image:hover{
    background-image: url('OK.png');
    width: 289px;
    height: 388px;
}
